:root {
  font: 12pt sans-serif;
}

.clickable {
  cursor: pointer;
}

table {
  border: 1px solid #d8d8d8;
  margin-bottom: 10px;
}

.moves-table {
  border-collapse: collapse;
}

.moves-table tr:nth-child(even) {
  background-color: #f0f0ff;
}

.moves-table th {
  padding: 0.1em 1em;
}

.moves-table td {
  padding: 0.1em 1em;
}

.moves-table td {
  text-align: center;
}

.moves-table td.move {
  font: 11pt monospace;
}

.moves-table tr:hover {
  background: rgba(255, 255, 0, 0.25);
}

.moves-table tr:hover td.move {
  font-weight: bold;
}

.moves-table tr.selected td.move {
  background: yellow;
  outline: 2px solid black;
  font-weight: bold;
}

.panels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.scores-table, .squares-table {
  border-spacing: 1em 0.25em;
  padding: 0.5em 0;
}

.scores-table th,
.scores-table td,
.squares-table th,
.squares-table td {
}

.scores-table th {
  text-align: left;
}

.scores-table td {
  text-align: right;
}

.squares-table .square-coords {
  font: 11pt monospace;
}

.squares-table .square-size {
  text-align: right;
}

td.center {
  text-align: center;
}

.navigate-buttons {
  text-align: center;
}

.navigate-buttons button {
  width: 3em;
  height: 2em;
}

:root {
  --color-1: #ff4040;
  --color-2: #ffff00;
  --color-3: #00ff00;
  --color-4: #00ffff;
  --color-5: #4040ff;
  --color-6: #ff00ff;
}

.background-color-1 { background-color: var(--color-1); }
.background-color-2 { background-color: var(--color-2); }
.background-color-3 { background-color: var(--color-3); }
.background-color-4 { background-color: var(--color-4); }
.background-color-5 { background-color: var(--color-5); }
.background-color-6 { background-color: var(--color-6); }

.squares-table th,
.squares-table td {
    text-align: center;
}

svg {
  width: calc(20 * 40px);
  height: calc(16 * 40px);
  background: white;
}

text {
  font: bold 6px sans-serif;
  fill: black;
  stroke: none;
  user-select: none;
  text-anchor: middle;
  dominant-baseline: middle;
}

text.coord {
  fill: rgba(0, 0, 0, 0.5);
}

.tile-cell > text.label {
  fill: rgba(0, 0, 0, 0.75);
}

rect.board-background {
  fill: #303030;
  stroke: #606060;
  stroke-width: 2px;
}

rect.tile-background {
  stroke: #202020;
  stroke-width: 1px;
  fill: black;
  filter: drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.75));
}

rect.tile-border {
  stroke: #202020;
  stroke-width: 1px;
  fill: none;
}

g.tile.last-move rect.tile-background {
  filter:
    drop-shadow( 2px  2px 1px rgba(255, 255, 255, 0.5))
    drop-shadow(-2px  2px 1px rgba(255, 255, 255, 0.5))
    drop-shadow( 2px -2px 1px rgba(255, 255, 255, 0.5))
    drop-shadow(-2px -2px 1px rgba(255, 255, 255, 0.5));
}

g.tile.last-move rect.tile-border {
  stroke: white;
  stroke-width: 2px;
}

g.tile-cells {
  /* Note: box() is nicer but doesn't work in Chromium. */
  /* Keep 3px in sync with rx/ry values in viewer.js! */
  clip-path: inset(0% 0% 0% 0% round 3px);
}

g.tile-cell.color-1 rect.cell-background { fill: var(--color-1); }
g.tile-cell.color-2 rect.cell-background { fill: var(--color-2); }
g.tile-cell.color-3 rect.cell-background { fill: var(--color-3); }
g.tile-cell.color-4 rect.cell-background { fill: var(--color-4); }
g.tile-cell.color-5 rect.cell-background { fill: var(--color-5); }
g.tile-cell.color-6 rect.cell-background { fill: var(--color-6); }

.square rect.background {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  filter: drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.75));
}

.square rect.foreground {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.square.color-1 rect.foreground { stroke: var(--color-1); }
.square.color-2 rect.foreground { stroke: var(--color-2); }
.square.color-3 rect.foreground { stroke: var(--color-3); }
.square.color-4 rect.foreground { stroke: var(--color-4); }
.square.color-5 rect.foreground { stroke: var(--color-5); }
.square.color-6 rect.foreground { stroke: var(--color-6); }
